name: Bump version, create release and publish

on:
  pull_request:

jobs:
  version:
    if: github.event.pull_request.merged == true || github.event_name == 'workflow_dispatch'
    uses: rees46/workflow/.github/workflows/reusable-ios-version.yaml@master
    permissions: write-all
    with:
      podSpecFilePath: "REES46.podspec"
      appId: ${{ vars.PUBLIVERSIONER_ID }}
    secrets:
      appSecret: ${{ secrets.PUBLIVERSIONER_SECRET }}

  release:
    needs: version
    uses: rees46/workflow/.github/workflows/reusable-ios-release.yaml@master
    permissions: write-all
    with:
      podSpecFilePath: "REES46.podspec"
      appId: ${{ vars.PUBLIVERSIONER_ID }}
    secrets:
      appSecret: ${{ secrets.PUBLIVERSIONER_SECRET }}

  publish:
    needs: release
    uses: rees46/workflow/.github/workflows/reusable-ios-publish.yaml@master
    permissions: write-all
    with:
      appId: ${{ vars.PUBLIVERSIONER_ID }}
    secrets:
      cocoapodsToken: ${{ secrets.COCOAPODS_TOKEN }}
      appSecret: ${{ secrets.PUBLIVERSIONER_SECRET }}
